*.swp
*.log
proposal/*.log
proposal/*.aux
proposal/*.eps
proposal/*.png
proposal/*.make
proposal/*.temp
proposal/*.out
proposal/*.d
proposal/*.fls
proposal/*.bbl
proposal/*.blg
proposal/*.pdf
proposal/proposal-blx.bib
thesis/*.log
thesis/*.aux
thesis/*.eps
thesis/*.png
thesis/*.make
thesis/*.temp
thesis/*.out
thesis/*.d
thesis/*.fls
thesis/*.bbl
thesis/*.blg
thesis/*.pdf
thesis/thesis-blx.bib
