*.swp
*.log
*.run.xml
*-blx.bib
.bundle/
.RData
proposal/*.log
proposal/*.aux
proposal/*.eps
proposal/*.png
proposal/*.make
proposal/*.temp
proposal/*.out
proposal/*.d
proposal/*.fls
proposal/*.bbl
proposal/*.blg
proposal/*.pdf
proposal/out/
thesis/*.log
thesis/*.aux
thesis/*.eps
thesis/*.png
thesis/*.make
thesis/*.temp
thesis/*.out
thesis/*.d
thesis/*.fls
thesis/*.bbl
thesis/*.blg
thesis/*.pdf
thesis/out/
special-topic/*.log
special-topic/*.aux
special-topic/*.eps
special-topic/*.png
special-topic/*.make
special-topic/*.temp
special-topic/*.out
special-topic/*.d
special-topic/*.fls
special-topic/*.bbl
special-topic/*.blg
special-topic/*.pdf
special-topic/out/
